body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   cursor: url(../img/cursor2.cur), auto;
}

.wrapper {
   max-width: 960px;
   margin: 0 auto;
}

h1 {
   margin: 25px 0;
   font-size: 24px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #bfbfbf;
   font-weight: bold;
}

li {
   cursor: url(../img/cursor3.cur), auto;
}

a {
   cursor: url(../img/cursor3.cur), auto;
   text-decoration: none;
}

.wrapper {
   margin: 25px auto;
   box-sizing: border-box;
   max-width: 960px;
}

.flex {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.top,
.middle,
.bottom {
   padding-bottom: 40px;
}

.middle {
   display: table;
}

.top-bar {
   background-color: #2a3644;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}

#left_li {
   border-left: none;
}

.open {
   position: relative;
}

.sub_menu {
   width: 220px;
   padding-top: 35px;
   display: none;
   position: absolute;
   top: 15px;
   left: -1px;
   border-radius: 3px;
   z-index: 1;
   padding: 35px 0 0 0;
}

.sub_menu1 {
   width: 220px;
   padding-top: 35px;
   display: none;
   position: absolute;
   top: 15px;
   border-radius: 3px;
   z-index: 1;
   padding: 0 7px 0 0;
}

.sub_menu li {
   border: 1px solid #b9bdc1;
   list-style: none;
   padding: 17px 25px;
   background-color: #d2d4d5;
}

.sub_menu li:hover {
   background-color: #2a3644;
}

.sub_last {
   left: -76%;
}

.first_li {
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.last_li {
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
}

.menu>.sub_menu a {
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   color: #2a3644;
}

.top-bar .sub_li {
   border-left: none;
   border-right: none;
}

#sub_li3 {
   padding: 15px 25px;
}

.open:hover>.sub_menu {
   display: block;
   visibility: visible;
   max-height: 1000px;
   transition: 0.5s;
}

.open:hover>.sub_menu1 {
   display: block;
   visibility: visible;
   max-height: 1000px;
   transition: 0.5s;
}

.menu,
.menu-bottom {
   margin: 0;
   padding: 0;
   list-style: none;
}

.menu li,
.menu-bottom li {
   padding: 14px 32px;
}

.menu a,
.menu-bottom a {
   font-size: 16px;
   font-weight: bold;
}

.menu_a {
   color: #fff;
}

.main-page {
   color: #fff;
}

.open {
   border-left: 1px solid #3f4852;
   border-right: 1px solid #3f4852;
}

.menu li:hover {
   background-color: #3f4852;
}

.sub_li a {
   color: #2a3644;
}

.sub_second {
   left: 215px;
   padding-top: 0;
   padding-left: 10px;
}

.sub_third {
   right: 100%;
}

.top-bar .li_first {
   padding-top: 14px ;
   padding-bottom: 14px ;
   padding-left: 20px ;
   padding-right: 0;
}

.top-bar .li_second {
   padding-top: 14px ;
   padding-bottom: 14px ;
   padding-left: 20px ;
   padding-right: 0;
}

.top-bar .li_third {
   padding-top: 14px ;
   padding-bottom: 14px ;
   padding-left: 20px ;
   padding-right: 0;
}

.top-bar .li_fourth {
   padding-top: 14px ;
   padding-bottom: 14px ;
   padding-left: 20px ;
   padding-right: 0;
}

.top-bar .li_five {
   padding-top: 14px ;
   padding-bottom: 14px ;
   padding-left: 20px ;
   padding-right: 10px;
}

#li_one {
   padding-left: 20px;
}

.menu li:hover>a {
   font-weight: bold;
   color: #fd8612;
}

ul.different li {
   padding: 14px 43px;
   border-left: 1px solid #3f4852;
}

.left-menu {
   display: flex;
}

.left-menu li:first-child {
   padding-left: 60px;
}

.left-menu li {
   border-right: 1px solid #3f4852;
}

.left-menu li {
   position: relative;
}

.left-menu a.main-page::before {
   content: "";
   position: absolute;
   left: 32px;
   background: url(../img/sprite.png) no-repeat;
   width: 16px;
   height: 13px;
   background-position: 0 0;
}

.left-menu li:hover>a.main-page {
   width: 16px;
   height: 13px;
   background-position: 0 0;
}

.social {
   padding: 14px 30px 14px;
   display: flex;
   align-items: flex-end;
   column-gap: 25px;
}

.social li {
   padding: 0;
}

.social a {
   display: block;
   background: url(../img/sprite.png) no-repeat;
}

a.fb {
   height: 19px;
   width: 10px;
   background-position: -18px 0px;
}

.social li:hover>.fb {
   height: 19px;
   width: 10px;
   background-position: -18px -18px;
}

a.tw {
   width: 18px;
   height: 15px;
   background-position: -31px 0;
}

.social li:hover>.tw {
   width: 18px;
   height: 15px;
   background-position: -31px -18px;
}

a.inst {
   width: 19px;
   height: 19px;
   background-position: -49px 2px;
}

.social li:hover>.inst {
   width: 19px;
   height: 19px;
   background-position: -49px -16px;
}

.table {
   width: 100%;
   max-width: 960px;
   border-collapse: collapse;
   margin: 0 auto;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 3px;
   overflow: hidden;
}

.tr1 {
   cursor: url(../img/cursor3.cur), auto;
}

.tr2 {
   cursor: url(../img/cursor3.cur), auto;
}

.table thead tr {
   color: #fff;
   background-color: #2a3644;
   border-bottom: 1px solid #3f4852;
}

.table tbody tr {
   color: #000;
   border-bottom: 1px solid #c0c1c2;
}

.tr1:hover {
   color: #000;
   background-color: #c0c1c2;
}

.tr2:hover {
   color: #000;
   background-color: #c0c1c2;
}

.cat1:hover {
   color: #000;
   background-color: #c0c1c2;
}

.table thead th {
   border-left: 1px solid #3f4852;
   padding: 15px 0;
}

.table .name {
   text-align: left;
   padding-left: 20px;
}

.table td {
   color: #2a3644;
   padding: 13px 0;
   border-left: 1px solid #c0c1c2;
}

.table .th2 {
   padding: 0 0 0 20px;
}

.table .number {
   text-align: right;
   padding: 0 20px 0 0;
}

.name {
   text-align: left;
   padding-left: 20px;
}

.table .numbers {

   text-align: center;
   border-left: none;
}


.table .cat1 {
   border-bottom: none;
   background-color: #e8e8e8;
}

.tr1 {
   background-color: #f2f2f2;
}

.tr2 {
   background-color: #e8e8e8;
}

.cat2 {
   border-bottom: none;
   background-color: #f2f2f2;
}

.th2 {
   padding-left: 25px;
   text-align: left;
}

.table2 {
   width: 100%;
   display: table;
   border-radius: 3px;
   overflow: hidden;
   max-width: 960px;
   margin: 0 auto;
}

.table_style,
.table_head {
   display: table-row;
}

.table_style {
   cursor: url(../img/cursor3.cur), auto;
}

.head {
   max-width: 20px;
   display: table-cell;
   margin: 0;
   padding: 17px 0;
   background-color: #2a3644;
   font-size: 16px;
   color: #fff;
   font-weight: bold;
   border-right: 1px solid #3f4852;
}

.css-tr {
   display: table-cell;
   color: #2a3644;
   list-style: none;
   padding: 13px 0;
   background-color: #f2f2f2;
}

.table_head div:first-child {
   text-align: center;
   padding: 0 1px;
   width: 55px;
}

.table_head div:nth-child(2) {
   padding: 0 0 0 20px;
}

.table_head div:nth-child(3) {
   text-align: center;
   width: 155px;
}

.table_head div:nth-child(4) {
   text-align: center;
}

.table_head div:nth-child(5) {
   text-align: center;
}

.table_style div:nth-child(4) {
   width: 115px;
   text-align: right;
   padding: 0 20px 0 20px;
}

.table_style div:nth-child(5) {
   width: 115px;
   text-align: right;
   padding: 0 20px 0 20px;
}

.table_style div:nth-child(3) {
   width: 115px;
   text-align: right;
   padding: 0 20px 0 20px;
}

.table_style div:nth-child(2) {
   padding: 0 0 0 22px;
}

.table_style div:nth-child(2) {
   width: 420px;
}

.table_style div:first-child {
   width: 56px;
   text-align: center;
}

.table_style div {
   border-top: 1px solid #cdcddd;
}

.table_style div:not(:last-child) {
   border-right: 1px solid #c0c1c2;
}

.tr2 {
   background-color: #e8e8e8;
}

.table_style:hover>div {
   background-color: #c0c1c2;
   border-top-color: #c0c1c2;
   border-left-color: #c0c1c2;
}